/*** Custom ***/

html {
    min-width: 360px;
}

.hide-me {
    display: block;
}

.small-hide {
    display: none;
}
header {
    height: 455px;
    margin-bottom: 25px;
    width: 100%;
    background-color: #efefef;
    /*
    background-image: url(../images/skyline.png);
    vertical-align: bottom;
    background-size: 158%;
    background-position: -120px 70px;
    */
    /*background-size: 140%;
    background-position: -80px 70px;*/
    /*
    background-repeat: no-repeat;
    */
}

header .header-top {
    height: 87px;
    background-color: #00315e;
}

.header-mail {
    margin-left: 10px;
}

.header-image {
    background-image: url(../images/skyline.png);
    background-size: 140%;
    background-position: -90px -10px;
    background-repeat: no-repeat;
    height: 184px;
    width: 100%;
    margin-top: -8px;
}


.big-green-button {
    box-shadow: rgb(164, 226, 113) 0px 1px 0px 0px inset;
    background-color: rgb(98, 167, 68);
    border-radius: 3px;
    border: 1px solid rgb(81, 138, 54);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}

.big-green-button:hover {
       background-color:: 1px solid rgb(81, 138, 54);
}

header .logo {
    vertical-align: middle;
}

.header-callout {
    margin-bottom: 20px;
}

.header-callout h5 {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.65);
}

/***background variant, TODO: remove ***/
/*
aside.right-sidebar {
    background-image: url(images/sidebar_shadow.png);
    background-repeat: no-repeat;
}
*/


footer {
    height: 132px;
    background-color: #19466b;
    box-shadow:  0 -11px #efefef;
    margin-top: 15px;
}

/**** icons ****/
    .envelope_icon {
        display: block;
        box-sizing: border-box;
        box-sizing: border-box;
        background: url(../images/envelope_dark.png) no-repeat;
        width: 38px;
        height: 27px;
        padding-left: 38px; 
    }
    
    .customer_analysis_icon, 
    .performance_monitoring_icon,
    .sourcing_icon,
    .selection_icon,
    .screening_icon {
        min-width: 78px;
    }

.article_container {
border-style: solid;
border-width: 24px 0px;
-moz-border-image: url(../images/shadow_border.png) 24 0 stretch;
-webkit-border-image: url(../images/shadow_border.png) 24 0 stretch;
-o-border-image: url(../images/shadow_border.png) 24 0 stretch;
border-image: url(../images/shadow_border.png) 24 0 fill stretch;
}

.grid-padding-x .left-collapse {
    padding-left: 0;
}

.grid-padding-x .right-collapse {
    padding-right: 0;
}

.grid-margin-x .left-collapse {
    margin-left: 0;
}

.grid-margin-x .right-collapse {
    margin-right: 0;
}

.required {
    color: #c60f13;
}

.required:before {
    font-size: .25rem;
    vertical-align: middle;
}

.link-orange {
    background-color: #f79320;
}

.link-green {
    background-color: #61a744 ;
}

form {
    margin-top: 20px;
}

.form_header {
    background-image: -moz-linear-gradient( 0deg, rgba(0, 143, 213, 0.31) 1%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgba(0, 143, 213, 0.31) 1%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgba(0, 143, 213, 0.31) 1%, rgb(255,255,255) 100%);
    width: 95vw;  /*width: 376px;*/
    height: 68px;
    z-index: 21;
    font-size: 1.0625rem;
    font-family: "Arial";
    color: #005f92;
    line-height: 1;
    margin-left: calc(0% - 15px);
    padding-left: 15px;
}

.form_header:before {
    position: absolute;
        content: "";
    background-image: -moz-linear-gradient( 0deg, rgba(0, 143, 213, 0.31) 1%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgba(0, 143, 213, 0.31) 1%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgba(0, 143, 213, 0.31) 1%, rgb(255,255,255) 100%);
    
}


/**** Custom Overrides ****/
body, label {
    color: #333333;
    font-size: .8125rem;
    font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h5 {
    font-size: 1.375rem;
}


hr {
    border-bottom: none;
    background-image: url("../images/dotted_line.gif");
    height: 2px;
}

label {
    line-height: 1.2;
}

.button {
    font-size: .6875rem;
    padding: 1.078em 3.6364em 1.378em 3.6364em
}

a:hover, a:focus {
    color: #7590a8;
}

ul {
    list-style-type: square;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    height: 1.75rem;
    border-radius: 0;
}

/* accordion icon */
.accordion-title::before {
    font-family: 'FontAwesome';
    font-size: 1.75rem;
    content: "\f078";
    margin-top: -1.2rem;
}

.is-active > .accordion-title::before {
    font-family: 'FontAwesome';
    font-size: 1.75rem;
    content: "\f077";
    margin-top: -1.2rem;
}

.thumbnail {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.accordion-item:first-child > :first-child {
    border-radius: 0;
}

.accordion-title {
    border: 1px solid #e6e6e6;
    border-width: 1px 0 0 0;
    padding-right: 3rem;
    font-size: 1.125rem;
    color: #00315e;
    font-weight: 700;
}

.accordion-content {
    border: 1px solid #e6e6e6;
    border-width: 1px 0 0 0
}

.card {
    background: #ededed;
}

.card, .card_custom {
    border: none;
    border-radius: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*margin-right: -12px;
    margin-left: -12px;*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    /* -webkit-align-items: stretch; */
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    /* -webkit-flex: 1 0 auto; */
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-top: 34px;
}


.card_custom {
    margin-top: .375rem;
    margin-bottom: .375rem;
}

accordion {
    margin-bottom: .9375rem;
}

aside {
    margin-top: .9375rem;
}

.card {
    border-top: 6px solid #00315e;
}

.card h5 {
    font-size: .875rem;
    color: #00315e;
    font-weight: 700;
    line-height: 1;
}

.card .card-divider {
    background-color: #d4d4d4;
}

.card_custom .card-divider {
    background: #ededed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1 0 auto;
    padding: 21px 1.625rem .5625rem 23px;
}

.card_custom .card-divider {
    background-color: transparent;
}

.card_custom h5 {
    font-size: 1.125rem;
    color: #00315e;
    font-weight: 600;
    line-height: 1;
}

.card_custom .card-section > img {
    width: 84px;
    height: 84px;
    margin: 2px .625rem 0 0;
}

.card_custom .card-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1 0 auto;
    padding: .5625rem 1.625rem .5625rem .75rem;
}

.card_custom .card-section p {
    margin-left: 15px;
}

/**** icons ****/
    .dollar_icon {
        min-width: 84px;
        
    }


@media print, screen and (min-width: 40em) {
    h6, .h6 {
        font-size: .8125rem;
    }

}




/*** Font Awesome ***/
.fa {
    font-size: 1.875rem;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-google-plus, .fa-glassdoor {
    color: #fff;
}

.square-social {
    display: inline-block;
    overflow: hidden;
    color: #fff;
    width: 28px;
    height: 28px;
    position: relative;
    font-size: 16px;
    line-height: 27px;
}

.square-social:before {
    display: inline-block;
    overflow: hidden;
    width: 28px;
    height: 28px;
    text-align: center;
    color: white;
}

.square-social-fb {
    background-color: #3b5998;
}

.square-social-twitter {
    background-color: #00ccff
    
}
.square-social-linkedin {
    background-color: #0073b2;
}
.square-social-google-plus {
    /*font awesome includes new ver, this is old version */
    background-color: #af3224;
    background-image: url(../images/social-google-plus.png);
}
.square-social-glassdoor {
    /*remove background image when font icon updated with glassdoor */
    background-color: #79c30c;
    background-image: url(../images/social-glassdoor.png);
}

/* remove when Font Awesome version to be used */
.fa-google-plus:before {
    content: "";
}

/**************************************************************/
/**** Media Queries ****/

/*** medium size ***/
@media print, screen and (min-width: 40em) {
    header {
        color: #fff;
        height: 312px;
        background-image: url(../images/skyline.png);
        vertical-align: bottom;
        background-position: -120px 70px;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        box-shadow: 0 11px #efefef;
    }
    
    .header-image {
        display: none;   
    }
    
    .header-callout {
        margin-bottom: 0;
    }

    
    .hide-me {
        display: none;
    }
    
    .small-hide {
        display: block;
    }
    
    .form_header {
        margin-left: inherit;
        padding-left: inherit;
        width: 100%;
    }
    
    aside.right-sidebar:before {
        position: absolute;
        content: "";
        border-style: solid;
        border-width: 0px 0px 0px 9px;
        -moz-border-image: url(../images/sidebar_shadow.png) 0 0 0 9 repeat stretch;
        -webkit-border-image: url(../images/sidebar_shadow.png) 0 0 0 9 repeat stretch;
        -o-border-image: url(../images/sidebar_shadow.png) 0 0 0 9 repeat stretch;
        border-image: url(../images/sidebar_shadow.png) 0 0 0 9;
        height: 677px;
    }
    
    .card, .card_custom {
        background: #ededed;
    }

    .envelope_icon {
        content: url(../images/envelope.png);
        
    }
    
    .customer_analysis_icon, 
    .performance_monitoring_icon,
    .sourcing_icon,
    .selection_icon,
    .screening_icon {
        min-width: 78px;
    }
 
}

/*** large size ***/
@media print, screen and (min-width: 64em) {
     header {
        color: #fff;
        height: 436px;;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        box-shadow: 0 11px #efefef;
        
    }   
    
    .header-callout {
        margin-bottom: 100px;
    }
    
    .header-mail {
        display: none;
    }

}



/**** Photoshop Exports for reference ****/
.dotted_line {
  background-image: url("dotted_line.gif");
  position: absolute;
  left: 238px;
  top: 1108px;
  width: 582px;
  height: 2px;
  z-index: 95;
}

.Sidebar_shadow {
  background-image: url("Sidebar shadow.png");
  position: absolute;
  left: 862px;
  top: 471px;
  width: 9px;
  height: 677px;
  z-index: 98;
}

.Shadow_border_2 {
  background-image: url("Shadow border 2.png");
  position: absolute;
  left: 258px;
  top: 1330px;
  width: 585px;
  height: 24px;
  z-index: 20;
}

.Form_Header_Gradient_bg {
  background-image: -moz-linear-gradient( 0deg, rgb(0,143,213) 1%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(0,143,213) 1%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(0,143,213) 1%, rgb(255,255,255) 100%);
  opacity: 0.31;
  position: absolute;
  left: 862px;
  top: 471px;
  width: 376px;
  height: 68px;
  z-index: 21;
}

.Rectangle {
  background-color: rgb(237, 237, 237);
  position: absolute;
  left: 891px;
  top: 936px;
  width: 283px;
  height: 179px;
  z-index: 65;
}
